@layout DemoLayout
@page "/demo/demo2"
<div style="border: 1px solid red">
    <h3>Demo2</h3>

    <button @onclick="increment">Click</button>

    <TestComponent valeur="@value"></TestComponent>

</div>