
@layout ExoLayout
@page "/exo/Exo1"
@using ExoBlaz.Models;
@using FakeData

<h3>List Voiture</h3>

@foreach(Voiture voit in FakeData.Voitures)
{
    <VoitureVignette Voit="@voit"></VoitureVignette>
}